{% extends 'base.html.twig' %}

{% block body %}
    {% if the_match is defined %} 
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="thumbnail">                
                    {% if the_match is defined %}                   
                        {% if the_match.getUserRock == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}green{% elseif the_match.getCompWon %}red{% endif %}" class="fa fa-hand-rock-o fa-flip-horizontal"></i>
                        {% elseif the_match.getUserPaper == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}green{% elseif the_match.getCompWon %}red{% endif %}" class="fa fa-hand-paper-o fa-flip-horizontal"></i>
                        {% elseif the_match.getUserScissors == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}green{% elseif the_match.getCompWon %}red{% endif %}" class="fa fa-hand-scissors-o fa-flip-horizontal"></i>
                        {% elseif the_match.getUserLizard == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}green{% elseif the_match.getCompWon %}red{% endif %}" class="fa fa-hand-lizard-o fa-flip-horizontal"></i>
                        {% elseif the_match.getUserSpock == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}green{% elseif the_match.getCompWon %}red{% endif %}" class="fa fa-hand-spock-o fa-flip-horizontal"></i>
                        {% endif %}
                    {% endif %}

                    <div class="caption">
                        <h3>You</h3>                        
                    </div>
                </div>            
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 text-center">            
                <div class="thumbnail">                
                    {% if the_match is defined %}  
                        {% if the_match.getCompRock == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}red{% elseif the_match.getCompWon %}green{% endif %}" class="fa fa-hand-rock-o"></i>
                        {% elseif the_match.getCompPaper == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}red{% elseif the_match.getCompWon %}green{% endif %}" class="fa fa-hand-paper-o"></i>
                        {% elseif the_match.getCompScissors == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}red{% elseif the_match.getCompWon %}green{% endif %}" class="fa fa-hand-scissors-o"></i>
                        {% elseif the_match.getCompLizard == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}red{% elseif the_match.getCompWon %}green{% endif %}" class="fa fa-hand-lizard-o"></i>
                        {% elseif the_match.getCompSpock == 1 %}
                            <i style="font-size: 120px;color:{% if the_match.getUserWon %}red{% elseif the_match.getCompWon %}green{% endif %}" class="fa fa-hand-spock-o"></i>
                        {% endif %}
                    {% endif %}

                    <div class="caption">
                        <h3>Computer</h3>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 text-center form-frame">

            <div class="well well-lg">

                {% if the_match is defined %}                        
                    {% if the_match.getUserWon %}
                        <h1 style="color:green;">YOU WIN!!</h1>
                    {% elseif the_match.getCompWon %}
                        <h1 style="color:red;">YOU LOSE</h1>
                    {% elseif the_match.getUserCompTie %}
                        <h1>TIE</h1>
                    {% endif %}
                {% endif %}

                <p class="lead text-center">Select your weapon</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>            
            
        </div>
    </div>
            
            
    <div class="row">  
        <div class="col-md-12">
            {% if matches is defined %}
                {{ include('default/history.html.twig', { 'matches': matches }) }}
            {% endif %}
        </div>
    </div>

        
{% endblock %}

{% block stylesheets %}{% endblock %}
